@mixin base_transition {
  @apply transition-all ease-in;
}

@mixin button($bcolor,
$url,
$x1,
$y1,
$bor,
$col) {
 background: $bcolor;
 mask: url($url);
 mask-size: $x1 $y1;
 border: $bor;
 color: $col;
}
