.header {
  @apply py-10 flex flex-row;

  .container {
    display: flex;
  }

  &__top-details {
    h3 {
      @apply mx-auto max-w-max relative uppercase;

      &:after {
        @apply w-full absolute left-0 bg-white-default;

        bottom: -3px;
        content: '';
        height: 2px;
      }
    }
  }

  &__logo {
    @apply text-white-default;
  }
}
