h1,
h2,
h3,
p,
a {
  @apply text-white-default;
}

h1 {
  font-family: $kanit;
  font-size: 36px;
}

h3 {
  font-family: $kanit;
  font-size: rem(16px);

  @screen lg {
    font-size: rem(21px);
  }
}

a {
  @include base_transition;

  font-family: $montserrat;

  &:hover {
    @apply opacity-50;
  }
}
